header {
    background: #BBBBBB;
    padding: 20px 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.descriçao {
    font-size: 18px;
    font-weight: bold;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos li {
    display: inline-block;
    height: 940px;
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding: 50px;
    background-color: #CCCCCC;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}